@import '../styles/variables';

$timeline-sidebar-width: 19rem;
$timeline-sidebar-margin: 1rem;

.splitView {
  position: relative;
}

.timelineSidebar {
  position: fixed;
  z-index: 10;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: calc(min(#{$timeline-sidebar-width}, 100vw));
  overflow-y: auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding-top: 1rem;
}

.collapsed .timelineSidebar {
  transition: transform 0.3s ease;
  transform: translate(0, 0);
  &:not(.timelineSidebarOpen) {
    transform: translate(-105%, 0);
  }
}

.content {
  box-sizing: border-box;
  margin-left: ($timeline-sidebar-width + $timeline-sidebar-margin);
  width: calc(100% - #{$timeline-sidebar-width} - #{$timeline-sidebar-margin});
  min-height: calc(100vh - #{$header-height});
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 1.5rem 2.5rem;
}

.collapsed .content {
  margin-left: 0;
  width: 100%;
}

.scopeSeparator {
  margin-top: 0.5rem;
}

.indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tapToClose {
  z-index: 9;
  position: fixed;
  top: $header-height;
  left: 0;
  height: calc(100vh - #{$header-height});
  width: 100vw;
}
