.root {
    background-color: #ffdb4d;
    text-align: center;
    padding: 1rem;
    line-height: 1.6;
}

.root a {
    color: #007bff;
    text-decoration: none;
}

.root b {
    font-weight: bolder;
}