.footer {
  display: flex;
  background-color: #FECB2F;
  margin-top: 10px;
  height: 50px;
  padding: 10px;

  .logo {
    width: 250px;
    height: 100%;
  }

  .buttonWrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .button {
      display: inline-block;
      background-color: #73CE99;
      color: #fff;
      width: 200px;
      line-height: 50px;
      border-radius: 4px;
      text-align: center;
      margin-right: 20px;
      text-decoration: none;
    }
  }
}
