.root {
  background-color: #ba000d;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sideMargins {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.title {
  font-weight: 600;
  color: #ffffff;
}

.body {
  color: #ffffff;
}
