@import '../styles/variables';

.root {
  height: $header-height;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  background-color: $color-primary;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  padding-right: 1rem;
}

.logo {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 50px;
}

.separator {
  flex: 1;
}

.navLink {
  color: $color-secondary;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  text-align: center;
}

.navLinkActive {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .root {
    padding-right: 0.5rem;
  }

  .navLink {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0;
  }
}

.contentPadding {
  height: $header-height;
  width: 100%;
}
