@import '../styles/variables';

.root {
  height: $header-height;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  background-color: $color-primary;
  align-items: center;

  position: fixed;
  top: 4rem;
  left: 0;

  z-index: 100;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

  padding-right: 1rem;
}

.brandingStrip {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  background: rgb(243, 244, 246);

  a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
  }

  svg {
    height: 2rem;
    padding: 0.5rem;
  }

  span {
    margin-left: 1rem;
  }

}

.logo {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 50px;
}

.separator {
  flex: 1;
}

.navLink {
  color: $color-secondary;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  text-align: center;
}

.navLinkActive {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .root {
    padding-right: 0.5rem;
  }

  .navLink {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0;
  }

  .brandingStrip {
    a {
      font-size: 0.8rem;
    }
  }
}

.contentPadding {
  height: 10rem;
  width: 100%;
}

.donateButton {
  border: none;
  background: black;
  color: #ffcc00;
  border-radius: 5px;
  padding: 6px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
