.logo {
  display: flex;
  align-items: center;

  .projectLogo {
    height: 100%;
    display: inline-block;
  }

  .code4Logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2px;
    font-size: 12px;

    a {
      display: inline-block;
      height: 60%;

      svg {
        margin-left: 10px;
      }
    }
  }

  a {
    svg {
      height: 100%;
    }
  }
}

@media (max-width: 680px) {
  .logo {
    flex-direction: column;

    .projectLogo {
      height: 30px;
    }

    .code4Logo {
      flex-direction: column;
      height: 15px;
      font-size: 6px;
      margin-left: 0;
      margin-top: 3px;

      a {
        margin-top: 3px;

        svg {
          margin-left: 0;
        }
      }
    }
  }
}


