.news {
  margin-top: 20px;
  position: relative;

  .heading {
    color: #fe0000;
  }

  .liveIcon {
    position: relative;
    top: -0.07em;
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: 0.5em;
  }

  .separator {
    margin-top: 0.25rem;
  }

  .label {
    margin-bottom: 2rem;
  }

  .feed {
    margin-bottom: 1rem;
  }
}

