.processHeading {
  margin-top: 1rem;
  margin-right: 2.5rem;
  padding-bottom: 0.5rem;
}

.process {
  margin-bottom: 2rem;
}

.seats {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tablesSeparator {
  margin-bottom: 3rem;
}
